@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  color: white;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 47, 47);
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10vh 20vw 0;
}

.current-details {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
}

.current-temp-div {
  display: flex;
}

.current-city {
  font-size: 3rem;
}

.header {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.current-temp {
  font-size: 4rem;
  align-self: center;
}

.details-item {
  width: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.details-value {
  grid-column: 2 / 3;
}

.details-icon {
  grid-row: 1 / 3;
}
