@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  color: white;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 47, 47);
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 5vh 20vw 10vh;
}

.current-details {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.current-temp-div {
  display: flex;
}

.current-city {
  font-size: 3rem;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  align-items: center;
}

.current-city-div {
  width: 40rem;
}

.current-temp {
  font-size: 4rem;
  align-self: center;
}

.details-item {
  width: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.details-value {
  grid-column: 2 / 3;
  align-self: start;
}

.details-icon {
  grid-row: 1 / 3;
}

.details-title {
  align-self: end;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem 0;
}

.hourly-items,
.daily-items {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-time,
.daily-day {
  font-size: 1.2rem;
  font-weight: 700;
}

.hourly-container,
.daily-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.hourly-temp,
.daily-temp {
  font-weight: 700;
}

#search-input {
  background-color: rgba(128, 128, 128, 0);
  border: 2px solid white;
  padding: 0.8rem 0.5rem;
  width: 25rem;
  border-radius: 15px;
  color: white;
}

#search-input:focus {
  outline: none;
}

#search-btn > img {
  width: 2rem;
}

#search-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

form {
  display: flex;
  gap: 0.5rem;
}
